.subject-buttons {
  padding-top: 30px;
	ul {
		display: flex;
		margin-bottom: 10px;
		li {
			background: $grey-light;
			padding: 8px 20px;	
			margin: 5px;
			letter-spacing: 1px;
			cursor: pointer;
			a {
				color: $black;
			}
			&:hover {
				transition: 0.6s ease-in-out;
				background: $black;
				a {
					color: $white;
				}
			}
		}
	}
}
